<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-shield-alt"></i> PVA Panel
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/gmail-pva-accounts"><i class="fas fa-envelope"></i> Gmail PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/instagram-pva-accounts"><i class="fab fa-instagram"></i> Instagram PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/threads-pva-accounts"><i class="fab fa-threads"></i> Threads Accounts</a></li>
                        <li><a class="dropdown-item" href="/facebook-pva-accounts"><i class="fab fa-facebook"></i> Facebook PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/linkedin-pva-accounts"><i class="fab fa-linkedin"></i> LinkedIn PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/twitter-pva-accounts"><i class="fab fa-twitter"></i> Twitter PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/youtube-pva-accounts"><i class="fab fa-youtube"></i> YouTube PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/google-voice-pva-accounts"><i class="fas fa-phone"></i> Google Voice Accounts</a></li>
                        <li><a class="dropdown-item" href="/tiktok-pva-accounts"><i class="fab fa-tiktok"></i> TikTok PVA Accounts</a></li>
                        <li><a class="dropdown-item" href="/naver-pva-accounts"><i class="fas fa-globe"></i> Naver PVA Accounts</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
